body{
    background-color: rgb(156, 7, 7);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0px;    
}
header{border-bottom: solid 4px red;
padding: 10px;
font-size: 32px;
color: brown;
}
section{background: rgb(70, 0, 0);
padding-bottom: 80px;
padding-top: 50px;
display: flex;
justify-content: center;
}